{% extends 'base.jinja2' %}

{% block content -%}
<h2>{{ page_title }}</h2>

<ul>
  {% for year in years -%}
    <li><a href="{{ 'SITE_DOMAIN'|get_path }}/films/{{ year }}/index.html">{{ year }}</a></li>
  {% endfor -%}
</ul>
{% endblock %}
