{% extends 'base.jinja2' %}

{% block content %}
  <section>
    <h2>Search by film title</h2>
    <p>Is there a film you <em>think</em> has a certain title but don't know for sure? Try searching and see if it comes up!</p>

    <form class="text-center" action="#">
      <label class="search-input-label">
        <input type="text" class="search-input" autocomplete="on" placeholder="The Citizen of the Year" required>
      </label>
      <br>
      <input type="submit" id="search-btn" value="Search">
    </form>
  </section>

  <section class="search-results"></section>
{% endblock %}


{% block scripts %}
  <script type="module" src="js/search.js"></script>
{% endblock -%}
