{% extends 'base.jinja2' %}

{% block content %}

{% for year, films in film_data.iteritems() %}
  {# <div class="film film-|film-id|">
    <img class="film-thumbnail" alt="|film-title|" src="film-images/|film-thumbnail|"><br>
    <a href="film.php?id=|film-id|">|film-title|</a><br>
    <span>{{ date }}</span>
  </div> #}
{% endfor %}
{% endblock %}
